@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
  
.marquee 
{
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 140px;
    overflow: hidden;
    margin-bottom: 38px;
    
    .track 
    {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 20s linear infinite;
        font-size: 8rem;
        font-weight: 700;
        letter-spacing: -0.05em;
        background: -webkit-linear-gradient(#8c98b8, #e3e2ec);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        p
        {
            margin: 0;
        }
    }
}

.our-services
{
    .flex
    {
        gap: 6px;    
    }
    
    .card
    {
        aspect-ratio: 1/1;
        background-color: #ddd;
        border-radius: 6px;
        color: #fff;
        padding: 25px 30px;
        background-position: center;
        background-size: cover;
        
        h3 
        {
            font-weight: 500;
            font-size: 3vw;
            line-height: 1;
        }
        
        p 
        {
            line-height: 1.3;
        }
        
        .bottom 
        {
            border-top: 1px solid #fff;
            padding-top: 20px;
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 7px;
            
            small
            {
                display: inline-block;
                background-color: #ffffff38;
                border-radius: 10px;
                padding: 3px 8px;
            }
        }
    }    
}

  