.about-us
{
    .subtitle 
    {
        margin-top: 20px;
        
        strong 
        {
            font-weight: inherit;
            color: var(--text);
        }
    }
    
    .card
    {
        background-color: #efefef;
        padding: 20px;
        border-radius: 15px;
        
        .big 
        {
            font-size: 2rem;
            font-weight: 500;
            color: var(--text);
            margin-bottom: 10px;
        }
        
        .description
        {
            font-size: .93rem;
            color: #6f6d74;
        }
    }
}