@media screen and (min-width: 991px) {
    .reviews
    {
        padding-top: 6%;
        
        .left-title
        {
            flex-basis: 30%;
            margin-top: 37px;
            
            .subtitle 
            {
                font-size: 1.5rem;
                line-height: 1.2;
            }
        }
        
        .swiper 
        {
            flex-basis: 70%;
            position: relative;
            padding-left: 6.5%;
            
            &:before 
            {
                content: url('../../../assets/images/reviews/quote.svg');
                font-size: 4rem;
                font-weight: 700;
                position: absolute;
                z-index: 2;
                top: -10px;
                left: 0;
            }
            
            .swiper-slide 
            {
                background-color: #fff;
                padding-top: 20px;
            }
            
            .quote
            {
                font-size: 3rem;   
                font-weight: 600;
                color: #101010;
                line-height: 1.1;
                border-bottom: 1px solid #ddd;
                padding-bottom: 5%;
                margin-bottom: 3%;
            }
            
            .author 
            {
                .name
                {
                    font-weight: 700;
                    font-size: 1.4rem;                    
                    margin-bottom: 7px;
                }
                
                .workplace 
                {
                    color: #ada9b3;
                }
                
                .image img
                {
                    border-radius: 50%;
                }
            }
            
            .swiper-button-prev,
            .swiper-button-next 
            {
                top: auto;
                bottom: 30px;
                width: 44px;
                height: 44px;
                margin: 0;
                background-color: red;
            }
            
            .swiper-button-next
            {
                right: 0;
            }
            
            .swiper-button-prev
            {
                left: auto;
                right: 44px;
            }
            
            .swiper-button-prev:after,
            .swiper-button-next:after
            {
                display: none;    
            }
        }
    }
}