@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    70% {
      transform: rotate(359deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.header 
{
    background: #eaafc8;
    background: -webkit-linear-gradient(to bottom, #654ea3, #eaafc8);
    background: linear-gradient(to bottom, #654ea3, #eaafc8);
    height: calc(100vh - 30px);
    margin: 15px;
    border-radius: 15px;
    padding: 2% 2.5%;
    color: #fff;
    flex-direction: column;
    
    .logo 
    {
        font-weight: 700;
        color: #fff;
        font-size: 1.4rem;
        letter-spacing: -0.03em;
        
        a 
        {
            gap: 10px;       
        }
    }
    
    .menu
    {
        background-color: #cac2d64a;
        border-radius: 50%;
        padding: 0;
        width: 45px;
        height: 45px;
        position: fixed;
        right: 4%;
        top: 4%;
        z-index: 11;
        transition: all .3s ease;
        
        > span 
        {
            height: 2px;
            background-color: #fff;
            display: block;
            border-radius: 2px;
            width: 16px;
            margin: 5px 0;
            transition: all .2s ease;
            position: absolute;
            top: 10px;
        }
        
        > span:nth-child(1)
        {
            left: 13px;
        }
        
        > span:nth-child(2)
        {
            width: 26px;
            top: 16px;
            left: 10px;
        }
        
        > span:nth-child(3)
        {
            top: 22px;
            left: 17px
        }
        
        &:hover > span,
        &.open > span
        {
            width: 26px;
            left: 10px;
        }
        
        &.open 
        {
            background-color: #a889d6;
            
            &:hover 
            {
                background-color: #fff;
            }
            
            > span
            {
                background-color: #181e2f;   
                top: 16px;
            }
            
            > span:nth-child(1)
            {
                transform: rotate(45deg);      
            }   
            
            > span:nth-child(2)
            {
                width: 0;
            }   
            
            > span:nth-child(3)
            {
                transform: rotate(-45deg);      
            }   
            
        }
    }
    
    .content
    {
        align-items: flex-end;
        justify-content: space-between;
        gap: 2%;
        
        h1 
        {
            font-size: clamp(4rem, 8vw, 8rem);
            line-height: .85;
            margin: 0;
            
            > span
            {
                display: block;
            }
            
            > span:not(.font-light)
            {
                display: block;
                transition: opacity .3s ease;
                
                &.fadeout
                {
                    opacity: 0;
                }
            }
        }
        
        .left 
        {
            font-size: .9rem;
            max-width: 65%;
            
            p
            {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                border-top: 1px solid #fff;
                padding-top: 20px;
                margin: 5% 0 0;
            }
            
            .white-btn
            {
                background-color: #fff;
                color: var(--text);
                padding: 4px 12px;
                border-radius: 15px;
                margin-right: 10px;
                display: inline-block;
            }
            
            .date 
            {
                margin-right: 6px;
                opacity: .6;
            }
        }
        
        .right 
        {
            text-align: right;
            
            .navMenu a 
            {
                padding: 6px 0;
            }
            
            .video 
            {
                max-width: 250px;
                
                button 
                {
                    position: absolute;
                    top: -20px;
                    left: -20px;
                    z-index: 1;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .4s ease;
                    
                    &:hover 
                    {
                        background-color: #ac82b7;
                    }
                    
                    > span 
                    {
                        position: absolute;
                        transition: all .4s ease;
                        animation: rotation 2s infinite cubic-bezier(.66,.04,.37,.96);
                    }
                    
                    > span:after
                    {
                        content: '';
                        display: block;
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        background: #181e2f;
                        position: relative;
                        top: -35px;    
                    }
                    
                    &.pause
                    {
                        opacity: 0;
                        left: 50%;
                        top: 50%;
                        width: 50px;
                        height: 50px;
                        transform: translate(-50%, -50%);
                    }
                    
                    &.pause > span 
                    {
                        opacity: 0;
                    }
                    
                    &:before, &:after 
                    {
                        content: '';
                        display: block;
                        width: 0; 
                        height: 0;
                        border-left: 0px solid #181e2f;
                        transition: all .4s ease;
                    }
                    
                    &:after
                    {
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left-width: 15px;
                        margin-left: 4px;
                    }
                    
                    &.pause:before,
                    &.pause:after 
                    {
                        border-bottom-width: 0;
                        border-top-width: 0;
                        border-left-width: 5px;
                        height: 20px;
                        border-radius: 2px;
                    }
                }
                
                &:hover .pause 
                {
                    opacity: 1;
                }
            }
        }
    }
}