@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    70% {
      transform: rotate(359deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.header 
{
    background: #eaafc8;
    background: -webkit-linear-gradient(to bottom, #654ea3, #eaafc8);
    background: linear-gradient(to bottom, #654ea3, #eaafc8);
    height: calc(100vh - 30px);
    margin: 15px;
    border-radius: 15px;
    padding: 2% 2.5%;
    color: #fff;
    flex-direction: column;
    
    .logo 
    {
        gap: 10px;
        font-weight: 700;
        color: #fff;
        font-size: 1.4rem;
        letter-spacing: -0.03em;
    }
    
    .menu
    {
        background-color: transparent;
        
        > span 
        {
            height: 2px;
            background-color: #fff;
            display: block;
            border-radius: 2px;
            width: 20px;
            margin: 5px 0;
        }
        
        > span:nth-child(1)
        {
            margin-left: 3px;
        }
        
        > span:nth-child(2)
        {
            width: 30px;
        }
        
        > span:nth-child(3)
        {
            margin-left: 7px;
        }
    }
    
    .content
    {
        align-items: flex-end;
        justify-content: space-between;
        gap: 2%;
        
        h1 
        {
            font-size: clamp(4rem, 8vw, 8rem);
            line-height: .85;
            margin: 0;
        }
        
        .left 
        {
            font-size: .9rem;
            max-width: 50%;
            
            p
            {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                border-top: 1px solid #fff;
                padding-top: 20px;
                margin: 5% 0 0;
            }
            
            .white-btn
            {
                background-color: #fff;
                color: var(--text);
                padding: 4px 12px;
                border-radius: 15px;
                margin-right: 10px;
                display: inline-block;
            }
            
            .date 
            {
                margin-right: 6px;
                opacity: .6;
            }
        }
        
        .right 
        {
            text-align: right;
            
            ul 
            {
                list-style: none;
                margin-bottom: 30px;
                
                a 
                {
                    display: inline-block;
                    padding: 3px 0;
                    position: relative;
                    left: 0;
                    
                    &:hover 
                    {
                        left: 4px;
                    }
                }
                
                &:has(a:hover) a:not(:hover)
                {
                    opacity: .4;
                }
            }
            
            .video 
            {
                max-width: 250px;
                
                button 
                {
                    position: absolute;
                    top: -20px;
                    left: -20px;
                    z-index: 1;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .4s ease;
                    
                    &:hover 
                    {
                        background-color: #ac82b7;
                    }
                    
                    > span 
                    {
                        position: absolute;
                        transition: all .4s ease;
                        animation: rotation 2s infinite cubic-bezier(.66,.04,.37,.96);
                    }
                    
                    > span:after
                    {
                        content: '';
                        display: block;
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        background: #181e2f;
                        position: relative;
                        top: -35px;    
                    }
                    
                    &.pause
                    {
                        opacity: 0;
                        left: 50%;
                        top: 50%;
                        width: 50px;
                        height: 50px;
                        transform: translate(-50%, -50%);
                    }
                    
                    &.pause > span 
                    {
                        opacity: 0;
                    }
                    
                    &:before, &:after 
                    {
                        content: '';
                        display: block;
                        width: 0; 
                        height: 0;
                        border-left: 0px solid #181e2f;
                        transition: all .4s ease;
                    }
                    
                    &:after
                    {
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left-width: 15px;
                        margin-left: 4px;
                    }
                    
                    &.pause:before,
                    &.pause:after 
                    {
                        border-bottom-width: 0;
                        border-top-width: 0;
                        border-left-width: 5px;
                        height: 20px;
                        border-radius: 2px;
                    }
                }
                
                &:hover .pause 
                {
                    opacity: 1;
                }
            }
        }
    }
}