.menu-layer {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background-color: #5b4693;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    inset: 0;
    z-index: 10;
    height: 0;
    overflow: hidden;

    .text-muted {
        opacity: 0.6;
    }

    .right-column {
        flex-grow: 1;
        padding: 2% 3%;

        .line-top {
            padding-right: 60px;
        }

        .navMenu {
            font-size: clamp(2rem, 5vw, 7rem);
            line-height: 1.1;
            counter-reset: counterLi;

            li a:after {
                counter-increment: counterLi;
                content: counter(counterLi);
                opacity: 0.3;
                font-size: 1.4rem;
                vertical-align: super;
                margin-left: 10px;
            }

            & + .flex {
                gap: 20px;
            }
        }

        .contact-links {
            padding: 0;
            margin: 0 0 35px;
            list-style: none;
            font-size: 2rem;

            a {
                padding: 3px 0;
                display: block;
            }
        }

        .social {
            display: flex;
            gap: 5px;
            flex-direction: column;

            a:hover {
                opacity: 0.5;
            }
        }
    }

    .left-column {
        padding: clamp(20px, 3%, 60px);
        background-color: #453275;
        text-align: center;

        .logo a {
            display: flex;
            flex-direction: column;
            pointer-events: none;

            img {
                display: block;
                height: 50px;
                margin-left: 10px;
            }
        }

        p {
            font-size: 0.9rem;
        }
    }
}

.open + .menu-layer {
    opacity: 1;
    visibility: visible;
    height: 100vh;
}

@media (max-width: 767px) {
    .menu-layer {
        flex-direction: column;

        .left-column .logo a img {
            margin: 0 0 5px;
            width: 30px;
            height: 30px;
        }

        .right-column {
            justify-content: center;
            text-align: center;

            .navMenu li a:after {
                display: none;
            }

            .mobile-column {
                flex-direction: column;
                align-items: center;
            }

            .social {
                display: none;
            }

            .contact-links {
                font-size: 1.2rem;
                margin-top: 25px;

                a {
                    padding: 5px 0;
                }
            }
        }
    }
}
