.footer {
    background-color: #d3d2d7;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        height: 30px;
        background-color: #fff;
        border-radius: 0 0 30px 30px;
        position: relative;
        z-index: 1;
    }

    .section {
        margin-bottom: 0;
        transition: transform 0.07s ease-in-out;
        padding: 60px 0 40px;
        background-color: inherit;
    }

    .row {
        margin: 3% 0 4%;

        > div {
            flex-basis: 16.6666666667%;

            p {
                margin-bottom: 12px;
            }

            .link {
                display: inline-block;
            }

            &:nth-child(1) {
                flex-basis: 50%;
                line-height: 1.45;

                a {
                    font-weight: 600;
                    color: #101010;
                }

                .btn {
                    margin-bottom: 12px;
                }
            }
        }

        h3 {
            font-size: 2.3rem;
            font-weight: 700;
            line-height: 1.05;
            margin-bottom: 20px;
        }
    }

    .h4 {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 15px;

        & ~ p {
            line-height: 1.45;
        }
    }

    .logo {
        color: var(--text);
        display: flex;
        justify-content: flex-start;

        img {
            mix-blend-mode: difference;
            opacity: 0.92;
        }
    }

    #toTop {
        svg {
            margin-left: 6px;
            transition: all 0.2s ease-in-out;
            transform: translateY(2px);
        }

        &:hover svg {
            transform: translateY(-3px);
        }
    }
}

@media (max-width: 767px) {
    .footer {
        .row {
            flex-wrap: wrap;
            justify-content: space-between;

            > div {
                flex-basis: 45%;
            }

            > div:nth-child(1) {
                flex-basis: 100%;
            }
        }

        .copyright {
            border-top: 1px solid #9a999f;
            padding-top: 15px;
        }
    }
}
