@keyframes iphonePortfolio {
    0% { 
        transform: translateY(0); 
    }
    50% { 
        transform: translateY(-30px); 
    }
    90% { 
        transform: translateY(0); 
    }
}

.portfolio 
{
    
    .section 
    {
        margin-bottom: 5%;  
        padding-top: 0;  
    }
    
    .title
    {
        font-size: clamp(4rem, 9vw, 9rem);
        font-weight: 300;
        color: inherit;
        margin-top: 7%;
        line-height: 1;
        
        &:before
        {
            opacity: 0;
            font-size: 0;
            text-indent: -999999;
            overflow: hidden;
            display: inline-block;
            height: 0;
            width: 0;
        }
    }
    
    .text1
    {
        font-weight: 600;    
    }
    
    .text1, .text2 
    {
        flex-basis: 25%;
    }
    
    .image 
    {
        flex-basis: 50%;
        
        img 
        {
            position: relative;
            height: auto;
            max-width: 100%;
            
            &:nth-child(1)
            {
                left: 17px;       
                top: -50px;
                animation: iphonePortfolio 6s ease-in-out infinite;
            }
            
            &:nth-child(2)
            {
                right: 17px;
                animation: iphonePortfolio 6s ease-in-out infinite;
                animation-delay: 3s;
            }
        }
    }
    
    .list-images 
    {
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        padding: 0 10px 15px;
        gap: 13px 16px;
        
        img, video
        {
            border-radius: 15px;
            pointer-events: none;
        }
    }
    
    .btn 
    {
        white-space: nowrap;
    }
    
    .sticky 
    {
        position: sticky;
        // top: calc((100dvh - 600px) / 2);
        bottom: 5%;
    }
    
    .marquee
    {
        height: 175px;
        position: absolute;
        top: 10%;
        
        .track
        {
            opacity: .05;
            font-weight: 500;
            font-size: 10rem;
        }
    }
}