:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --text: #333;
}

*, *:before, *:after 
{
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
    transition: all .3s ease;
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    scroll-behavior: smooth;
    color: var(--text);
}

button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    border: none;
}

video 
{
    border-radius: 8px;
}

.relative 
{
    position: relative;
}

.flex
{
    display: flex;
}

.justify-between
{
    justify-content: space-between;
}

.align-center
{
    align-items: center;
}

.font-light
{
    font-weight: 300;
}

.font-normal
{
    font-weight: 400;
}

.font-bold 
{
    font-weight: 700;
}