@mixin transition($val, $ease) {
    transition: all $val $ease; 
}

:root 
{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --text: #333;
    --gray: #aca9b3;
}

*, *:before, *:after 
{
    box-sizing: border-box;
}

a 
{
    color: inherit;
    text-decoration: inherit;
    @include transition(0.3s, ease);
}

body 
{
    margin: 0;
    line-height: 1.1;
    min-width: 320px;
    min-height: 100vh;
    scroll-behavior: smooth;
    color: var(--text);
    counter-reset: counterTitle;
}

h1, h2, h3, h4, h5, p 
{
    margin: 0;
}

button, .btn 
{
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    @include transition(0.3s, ease);
    border: none;
    background-color: #efefef;
    color: var(--text);
}

.btn-default:hover 
{
    background-color: #a57db6;
    color: #fff;
}

video
{
    border-radius: 8px;
}

.link
{
    position: relative;
}

.link:after
{
    content: '';
    display: block;    
    height: 3px;
    background-color: transparent;
    inset: auto 0 0 0;
    @include transition(0.4s, ease);
}

.link:hover:after
{
    background-color: currentColor;
}

.relative 
{
    position: relative;
}

.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

.flex
{
    display: flex;
}

.flex-column
{
    flex-direction: column;
}

.justify-between
{
    justify-content: space-between;
}

.justify-center
{
    justify-content: center;
}

.align-center
{
    align-items: center;
}

.align-end
{
    align-items: flex-end;
}

.gap10
{
    gap: 10px;
}

.gap20
{
    gap: 20px;
}

.grid 
{
    display: grid;
}

.grid-column2
{
    grid-template-columns: repeat(2, 1fr);
}

.font-light
{
    font-weight: 300;
}

.font-normal
{
    font-weight: 400;
}

.font-bold 
{
    font-weight: 700;
}

.section    
{
    margin: 0 6% 4%;
    
    .container  
    {
        max-width: 1310px;
        margin: 0 auto;
    }
}

.background-dark
{
    background-color: #0f0f0f;
    color: #e7e7e7;
}

.ulHoverEffect
{
    a 
    {
        position: relative;
        left: 0;
        
        &:hover 
        {
            left: 4px;
        }
    }
    
    &:has(a:hover) a:not(:hover)
    {
        opacity: .4;
    }
}

.title 
{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--gray);
    margin: 0 0 10px;
    
    &:before 
    {
        counter-increment: counterTitle;
        content: '0' counter(counterTitle) ' - ';
        opacity: .6;
        font-size: .9em;
        font-weight: 600;
    }
}

.subtitle 
{
    font-size: 2.2rem;
    color: var(--gray);
    margin-bottom: 40px;
}

.subtitle-big
{
    font-size: 52px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .flex-sm-67
    {
        flex-basis: 67%;
    }
    
    .flex-sm-33
    {
        flex-basis: 33%;
    }
}